<h1>Duplicate Accounts</h1>

<% @accounts.each do |group| %>
  <h1> <%= group[0][:ssn] %> </h1>
  <table class="table table-hover ">
    <% group.each do |account| %>
      <tr>
        <td><%= account[:name] %></td>
        <td><%= account[:birthday] %></td>
      </tr>
    <% end %>

  </table>
<% end %>
