<h1>Duplicate Accounts</h1>

<% @accounts.each do |group| %>
  <table>
    <caption> <%= group[0][:ssn] %> </caption>

    <% group.each do |account| %>
      <tr>
        <td><%= account[:name] %></td>
        <td><%= account[:birthday] %></td>
      </tr>
    <% end %>

  </table>
<% end %>
