<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phc.android" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/PHCTheme"
        android:name=".PHCApp">

        <activity
            android:name=".Main.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Checkin.CheckinActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Main.MainActivity">
        </activity>

        <activity
            android:name=".Services.ServicesActivity"
            android:label="@string/title_activity_services"
            android:parentActivityName=".Main.MainActivity">
        </activity>

        <activity
            android:name=".Checkout.CheckoutActivity"
            android:label="@string/title_activity_exit"
            android:parentActivityName=".Main.MainActivity">            >
        </activity>
    </application>

</manifest>
