<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phc.android" >

    <application
        android:allowBackup="true"
        android:logo="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/PHCTheme"
        android:name=".PHCApp">
        <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="20" />

        <activity
            android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".ServiceActivity"
            android:label="@string/title_activity_services" >
        </activity>
    </application>

</manifest>
